<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Scraping With Mongoose</title>
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/materia/bootstrap.min.css">
	
</head>

<body>
	<!-- Jumbotron -->
	<div class="jumbotron">
		<div class="text-center">
			<h1>Scraper</h1>
			<a class="btn btn-secondary" id="scrapeButton">Scrape Articles</a>
			<a class="btn btn-secondary" id="clearButton">Clear Articles</a>
			<br><br>
			<p id="loading"></p>
		</div>
	</div>

	<div class="container">
		{{{ body }}}
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/assets/js/app.js"></script>
</body>

</html>