<!-- Replaces index page -->
<div class="row">
  <div class="col-md-8">
    <h2>Scraped articles</h2>

    

    {{#if article}}

    {{#each article}}
    <h4>{{this.title}}</h4>
    <a href={{this.link}}>
      <p>Link to original article</p>
    </a>
    <button type="button" class="btn noteButton" data-id={{this._id}}>Add or view notes</button></button>
    <br>
    <br>
    {{/each}}

    {{else}}
    <h3>There are no new articles. Please click on "Scrape" button.</h3>
    {{/if}}

  </div>
  <div class="col-md-4">
    <div id="notes"></div>
  </div>
</div>